<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhom18androidxedap">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.gooole.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.f" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nhom18AndroidXeDap">
        <activity
            android:name=".AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".DetailBillCustomer"
            android:exported="false" />
        <activity
            android:name=".listBicycle"
            android:exported="false" />
        <activity
            android:name=".ReportMonth"
            android:exported="false" />
        <activity
            android:name=".Report"
            android:exported="false" />
        <activity
            android:name=".ListBill"
            android:exported="false" />
        <activity
            android:name=".DetailBill"
            android:exported="false" />
        <activity
            android:name=".DetailBike"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ScanQR2"
            android:exported="false" />
        <activity
            android:name=".ScanQR"
            android:exported="false" />
        <activity
            android:name=".SuccessPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".NotifyActivity"
            android:exported="false" />
        <activity
            android:name=".SelectTicketActivity"
            android:exported="false" />
        <activity
            android:name=".BuyTicketActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessReportActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity2"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".UnlockActivity2"
            android:exported="false" />
        <activity
            android:name=".UnlockActivity"
            android:exported="false" />
        <activity
            android:name=".VoucherManageActivity"
            android:exported="false" />
        <activity
            android:name=".UserManageActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ShowUserActivity"
            android:exported="false" />
        <activity
            android:name=".NotifyManageActivity"
            android:exported="false" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".EditVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".EditNotifyActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AddVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".AddNotifyActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>